<div class="container">
  <div class="justify-content-center">
    <h1 class="d-flex justify-content-center m-5"><%= @task.title %></h1>

    <h2>Details: <%= @task.details %></h2>
    <h2>Completed: <%= @task.completed %></h2>
  </div>

  <%= link_to "Home", tasks_path %>

  <%= link_to "Edit", edit_task_path %>

  <%= link_to "Delete #{@task.title}",
              task_path(@task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>
